.portfolio {
    align-items: center;
    padding-inline: 20rem;
    padding-block: 4rem;

    .portfolio-content__body {

        button {
            background: none;
            border: none;

            svg {
                // width: 80px;
                // height: 80px;
                fill: var(--primary-icon-color);
            }

        }
    }

    .portfolio-content__body__arrows {
        display: flex;
        flex-direction: row;
    }

    .portfolio-content__body__title {
        p {
            color: var(--primary-color-h1);
            font-family: var(--font-family);
            font-weight: var(--bold);
            font-size: var(--h2);
            text-align: center;
            padding-bottom: 4rem;
        }
    }

    .portfolio-content__body__imgages {
        display: flex;
        flex-direction: row;
        align-items: center;
        // flex-wrap: wrap;
        overflow-x: hidden;
        scroll-behavior: smooth;
        width: 100%;
        background: var(--tertiary-color-bg);
        border-radius: var(--border-radius-defaut);

        img {
            width: 100%;
            // height: 60px;
            padding-inline: 4rem;
        }
    }
}

@media screen and (max-width: 1920px) {
    .portfolio {
        padding-inline: 6rem;
    }
}

@media screen and (max-width: 990px) {
    .portfolio {
        padding-inline: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .portfolio {
        padding-inline: 2rem;

        .portfolio-content__body {
            svg {
                display: none;
            }
        }

        .portfolio-content__body__imgages {
            flex-wrap: wrap;
            img {
                width: 50%;
                height: 10%;
                padding-inline: 2rem;
            }
        }
    }
}