.howWeAct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .howWeAct-content__header {
    background: var(--gradient-bg);
    width: 100%;
    flex-direction: column;
    display: flex;
    padding-inline: 20rem;
    padding-top: 2.5rem;
    padding-bottom: 10rem;
  }
  
  .howWeAct-content__header__title h2 {
    color: var(--secondary-color-p);
    font-family: var(--font-family);
    font-weight: var(--bold);
    font-size: var(--h2);
    text-align: center;
  }
  
  .howWeAct-content__header__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    p {
      padding-top: 4rem;
      color: var(--secondary-color-p);
      font-family: var(--font-family);
      font-weight: var(--regular);
      font-size: var(--p-smaller);
      cursor: pointer;
      text-align: center;
      padding-inline: 2rem;
    }
  }
  
  .howWeAct-content__spotlight {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--tertiary-color-bg);
    margin-top: -4rem;
    border-radius: var(--border-radius-defaut);
    box-shadow: var(--shadow-defaut);
    border: var(--secondary-border);
    padding-inline: 5rem;
    flex-wrap: wrap;
    margin-inline: 20rem;
  }
  
  .howWeAct-content__spotlight__box {
    display: flex;
    flex-direction: column;
    margin-inline: 5rem;
    margin-block: 4rem;
    align-items: center;
  
    svg {
      fill: var(--primary-icon-color);
      width: 85px;
      height: 85px;
    }
  }
  
  .howWeAct-content__spotlight__box__icon {
    border: var(--primary-border);
    border-radius: var(--border-radius-rounded);
    padding: 2rem;
  }
  
  .howWeAct-content__spotlight__box__title p {
    font-family: var(--font-family);
    width: 200px;
    font-weight: var(--medium);
    font-size: var(--p-medium);
    line-height: 28px;
    color: var(--primary-color-p);
    margin-top: 1.5rem;
    text-align: center;
  }
  
  .howWeAct-content__spotlight__box__text p {
    font-family: var(--font-family);
    width: 250px;
    font-weight: var(--regular);
    font-size: var(--p-smaller);
    line-height: 28px;
    color: var(--tertiary-color-p);
    margin-top: 1.5rem;
    text-align: center;
  }
  
  @media screen and (max-width: 1920px) {
    .howWeAct-content__header {
      padding-inline: 6rem;
    }
  
    .howWeAct-content__spotlight {
      margin-inline: 6rem;
      padding-inline: 2rem;
    }
  }
  
  @media screen and (max-width: 990px) {
    .howWeAct-content__header {
      padding-inline: 4rem;
    }
  
    .howWeAct-content__spotlight {
      margin-inline: 4rem;
      padding-inline: .5rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .howWeAct-content__header {
      padding-inline: 2rem;
    }
  
    .howWeAct-content__spotlight {
      margin-inline: 2rem;
    }
  }