.simova__navbar {
  position: fixed;
  background: var(--navbar-primary-color-bg);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease;
  transition-duration: 500ms;
  padding: 1rem 20rem;
  box-shadow: var(--shadow-defaut);
  z-index: 1;

  &.active {
    background: var(--navbar-secondary-color-bg);
    backdrop-filter: var(--blur)
  }
}

.simova__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.simova__navbar-links_logo {
  margin-right: 2rem;

  img {
    width: 135px;
    height: 60px;
    cursor: pointer;
  }
}

.simova__navbar-links_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.simova__navbar-support {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 5px;
  }
}

.simova__navbar-links_container p,
.simova__navbar-menu_container-links p,
.simova__navbar-language_container-links p,
.simova__navbar-support-sup p,
.simova__navbar-menu_container-links-support p {
  color: var(--primary-color-p);
  font-family: var(--font-family);
  font-weight: var(--regular);
  font-size: var(--p-smaller);
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  transition: ease;
}

.simova__navbar-language_container-links-active {

  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  img {
    width: 40px;
    height: 40px;
  }

  p {
    color: var(--primary-color-p);
    font-family: var(--font-family);
    font-weight: var(--medium);
    font-size: var(--p-smaller);
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    transition: ease;
  }
}

.simova__navbar-links_container p:hover,
.simova__navbar-menu_container-links p:hover,
.simova__navbar-language_container-links p:hover,
.simova__navbar-support-sup p:hover,
.simova__navbar-menu_container-links-support p:hover {
  color: var(--primary-color-p-hover);
}

.simova__navbar-support button,
.simova__navbar-menu_container button {
  padding: 1rem 2rem;
  color: var(--secondary-color-p);
  background: var(--primary-button);
  font-family: var(--font-family);
  font-weight: var(--regular);
  font-size: var(--p-smaller);
  line-height: 25px;
  border: var(--border-button);
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius-button);
  margin-right: 1rem;
  transition: .4s;
}

.simova__navbar-support button:hover,
.simova__navbar-menu_container button:hover {
  background: var(--primary-button-hover);
}

.simova__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.simova__navbar-support #arrow,
#arrow-rotate {
  fill: var(--navbar-primary-color-icon);
  cursor: pointer;
  width: 27px;
  height: 27px;
  transition: .4s;
}

#arrow-rotate {
  transform: rotate(90deg)
}

.simova__navbar-menu {

  #close,
  #menu {
    fill: var(--navbar-primary-color-icon);
    cursor: pointer;
  }
}

.simova__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--navbar-primary-color-bg);
  transition: ease;
  transition-duration: 500ms;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 50px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: var(--border-radius-button);
  box-shadow: var(--shadow-defaut);

  &.active {
    background: var(--navbar-secondary-color-bg);
    backdrop-filter: var(--blur)
  }
}

.simova__navbar-language_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
  background: var(--navbar-primary-color-bg);
  transition: ease;
  transition-duration: 500ms;
  padding: 1rem;
  position: absolute;
  right: 25rem;
  top: 85px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: var(--border-radius-button);
  box-shadow: var(--shadow-defaut);

  &.active {
    background: var(--navbar-secondary-color-bg);
    backdrop-filter: var(--blur)
  }
}

.simova__navbar-language_container-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  img {
    width: 40px;
    height: 40px;
  }
}

.simova__navbar-language_container-language {
  color: var(--primary-color-p);
  font-family: var(--font-family);
  font-weight: var(--medium);
  font-size: var(--p-smaller);
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
}

.simova__navbar-menu_container p {
  margin: 1rem 0;
}

.simova__navbar-menu_container-links-support {
  display: none;
}

@media screen and (max-width: 1920px) {
  .simova__navbar {
    padding: 1rem 6rem;
  }

  .simova__navbar-language_container {
    right: 11rem;
  }
}

@media screen and (max-width: 1260px) {
  .simova__navbar {
    padding: 1rem 4rem;
  }

  .simova__navbar-links_container {
    display: none;
  }

  .simova__navbar-menu {
    display: flex;
  }

  .simova__navbar-language_container {
    right: 12rem;
  }
}

@media screen and (max-width: 770px) {
  .simova__navbar {
    padding: 1rem 2rem;
  }

  .simova__navbar-support button,
  .simova__navbar-support-sup {
    display: none;
  }

  .simova__navbar-language_container {
    right: 5rem;
  }

  .simova__navbar-language_container-links p {
    display: block;
  }

  .simova__navbar-support #darkMode {
    display: none;
  }

  .simova__navbar-menu_container-links-support {
    display: block;

    button {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .simova__navbar {
    padding: 1rem 2rem;
  }
}